Node-Red/aqara-motion.json
[
    {
        "id": "e5fe8cdccbfbe162",
        "type": "server-state-changed",
        "z": "39800f24f17d753b",
        "name": "Motion Gang 2",
        "server": "a9ab8e32.aa7d",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.motion_sensor_2_gang_2",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "x": 180,
        "y": 360,
        "wires": [
            [
                "8d900cb261d30e7f",
                "ad44b72f6a95127d"
            ],
            []
        ]
    },
    {
        "id": "8d900cb261d30e7f",
        "type": "api-current-state",
        "z": "39800f24f17d753b",
        "name": "Lux",
        "server": "a9ab8e32.aa7d",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "num",
        "halt_if_compare": "is",
        "entity_id": "sensor.motion_sensor_2_gang_2",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 410,
        "y": 360,
        "wires": [
            [
                "38a045c153ab4241"
            ]
        ]
    },
    {
        "id": "38af93a4d1f45669",
        "type": "api-call-service",
        "z": "39800f24f17d753b",
        "name": "Gang 2 Aan",
        "server": "a9ab8e32.aa7d",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.shelly_gang2"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 770,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "7a3f2574f29be2f4",
        "type": "server-state-changed",
        "z": "39800f24f17d753b",
        "name": "Motion Gang 2",
        "server": "a9ab8e32.aa7d",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.motion_sensor_2_gang_2",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "x": 180,
        "y": 420,
        "wires": [
            [
                "9b5e1be6c057e0fd"
            ],
            []
        ]
    },
    {
        "id": "9b5e1be6c057e0fd",
        "type": "api-call-service",
        "z": "39800f24f17d753b",
        "name": "Gang 2 Uit",
        "server": "a9ab8e32.aa7d",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.shelly_gang2"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 620,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "38a045c153ab4241",
        "type": "switch",
        "z": "39800f24f17d753b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "10",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 360,
        "wires": [
            [
                "38af93a4d1f45669"
            ]
        ]
    },
    {
        "id": "a9ab8e32.aa7d",
        "type": "server",
        "name": "HASS",
        "version": 2,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "30"
    }
]