Node-Red/tradfri_Remote.json
[
    {
        "id": "bed8514b70f07a94",
        "type": "server-events",
        "z": "e995bd4e5c1093d8",
        "name": "Deconz Events",
        "server": "a9ab8e32.aa7d",
        "version": 1,
        "event_type": "deconz_event",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "waitForRunning": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "$outputData(\"eventData\").event_type",
                "valueType": "jsonata"
            }
        ],
        "x": 180,
        "y": 240,
        "wires": [
            [
                "a271c603631d04e0"
            ]
        ]
    },
    {
        "id": "40d289f5eaf6e299",
        "type": "debug",
        "z": "e995bd4e5c1093d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.event.event",
        "targetType": "msg",
        "statusVal": "payload.event.event",
        "statusType": "auto",
        "x": 710,
        "y": 60,
        "wires": []
    },
    {
        "id": "a271c603631d04e0",
        "type": "switch",
        "z": "e995bd4e5c1093d8",
        "name": "Select Device",
        "property": "payload.event.device_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Removed",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 460,
        "y": 240,
        "wires": [
            [
                "d788f5250d5ee35c",
                "40d289f5eaf6e299"
            ],
            [
                "2d496274b8133b47"
            ]
        ]
    },
    {
        "id": "c00a6eb39aad62bc",
        "type": "comment",
        "z": "e995bd4e5c1093d8",
        "name": "tradfri_remote_control",
        "info": "",
        "x": 990,
        "y": 100,
        "wires": []
    },
    {
        "id": "d788f5250d5ee35c",
        "type": "switch",
        "z": "e995bd4e5c1093d8",
        "name": "Round Ikea Remote",
        "property": "payload.event.event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1002",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2002",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2001",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2003",
                "vt": "num"
            },            {
                "t": "eq",
                "v": "3002",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3001",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3003",
                "vt": "num"
            },            
            {
                "t": "eq",
                "v": "4002",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4001",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4003",
                "vt": "num"
            },            
            {
                "t": "eq",
                "v": "5002",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5001",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5003",
                "vt": "num"
            },            
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 10,
        "x": 960,
        "y": 200,
        "wires": [
            [
                "2e437c5e6c4876a0"
            ],
            [],
            [
                "dcb8a0f6829acbc8"
            ],
            [],
            [],
            [],
            [],
            [],
            [],
            [
                "0dca587b54e497a7"
            ]
        ]
    },
    {
        "id": "2d496274b8133b47",
        "type": "link out",
        "z": "e995bd4e5c1093d8",
        "name": "",
        "mode": "link",
        "links": [
            "13bc78843e91b6e0"
        ],
        "x": 595,
        "y": 360,
        "wires": []
    },
    {
        "id": "0dca587b54e497a7",
        "type": "link out",
        "z": "e995bd4e5c1093d8",
        "name": "",
        "mode": "link",
        "links": [
            "13bc78843e91b6e0"
        ],
        "x": 1105,
        "y": 280,
        "wires": []
    },
    {
        "id": "13bc78843e91b6e0",
        "type": "link in",
        "z": "e995bd4e5c1093d8",
        "name": "Debug",
        "links": [
            "2d496274b8133b47",
            "0dca587b54e497a7"
        ],
        "x": 1915,
        "y": 80,
        "wires": [
            [
                "e284683e92532fa6"
            ]
        ]
    },
    {
        "id": "e284683e92532fa6",
        "type": "debug",
        "z": "e995bd4e5c1093d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2050,
        "y": 80,
        "wires": []
    },
    {
        "id": "a9ab8e32.aa7d",
        "type": "server",
        "name": "HASS",
        "version": 2,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "30"
    }
]